/* ---------------------------
   calendar container
---------------------------- */
.calendar-container {
    background-color: rgb(226, 221, 221) !important;
    width: 98%;
    margin: auto;
    font-size: 13px;
    padding: 5px;
    border-radius: 6px;
}

/* ---------------------------
   tablestructure
---------------------------- */
.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar tr, .calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0 0 5px;
    vertical-align: top;
}

/* ---------------------------
   Month and date formatting
---------------------------- */
.month {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.date {
    font-size: 16px;
    font-weight: bold;
}

/* ---------------------------
   Lists in cells
---------------------------- */
.calendar td ul {
    height: 100%;
    padding: 0 5px 0 20px;
    margin: 0;
    list-style: none;
}

.calendar td ul li {
    margin-bottom: 3px;
}

/* ---------------------------
   Links & Buttons
---------------------------- */
a {
    color: #17a2b8;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    outline: none;
    color: black;
    box-shadow: none;
}

.clearfix {
    margin: 15px;
    clear: both;
}

/* ---------------------------
   Private appointments
---------------------------- */
.calendar td ul li.private {
    background-color: #368ff4 !important;
    color: white !important;
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    list-style: none;
}

/* ---------------------------
   Training appointments
---------------------------- */
.calendar td ul li.training {
    background-color: #118a15 !important;
    color: white !important;
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    list-style: none;
}


/* ---------------------------
   Rejected appointments
---------------------------- */
.calendar td ul li.rejected,
.calendar td ul li.rejected * {
    background-color: #777 !important;
    color: #fff !important;      
    opacity: 0.7;
    text-decoration: line-through !important;
    text-decoration-thickness: 2px;
    border: 1px  rgb(90, 87, 87); 
    border-radius: 4px;
    padding: 2px 4px;
    display: inline-block;
    list-style: none;
}

/* ---------------------------
   Other appointments
---------------------------- */
.calendar td ul li.other {
    background-color: transparent !important; 
    color: black !important; 
    border: 1px solid black; 
    border-radius: 4px; 
    padding: 2px 4px;
    display: inline-block;
    list-style: none;
}