{% extends "base.html" %}

{% block title %}Delete a Booking{% endblock %}

{% block content %}
<br>
<h2 class="text-center text-white">Delete a Booking</h2>
<br>


{% if instance %}
  <p class="text-center text-white">
    Are you sure you want to <strong>cancel this single occurrence</strong> of 
    "<strong>{{ booking.title }}</strong>" on 
    <strong>{{ instance.occurrence_date }}</strong> 
    ({{ instance.start|time:"H:i" }}-{{ instance.end|time:"H:i" }})?
  </p>
{% else %}
  <p class="text-center text-white">
    Are you sure you want to <strong>delete permanent this appointment</strong> 
    "<strong>{{ booking.title }}</strong>" 
    (starting {{ booking.start|date:"Y-m-d" }})?
  </p>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">
    {% if instance %}Delete Occurrence{% else %}Delete Event permanently{% endif %}
  </button>
  &nbsp;&nbsp;&nbsp;
  <a href="{% url 'appointments:booking_list' %}" class="btn btn-secondary">Go Back</a>
</form>

{# Django Messages #}
{% if messages or form.errors %}
<div style="text-align: center; margin-top: 20px;">
    {% for message in messages %}
        {% if message.tags == "error" %}
            <p style="color: red; font-weight: bold;">{{ message }}</p>
        {% elif message.tags == "success" %}
            <p style="color: green; font-weight: bold;">{{ message }}</p>
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
