{% extends "base.html" %}
{% load static %} <!--for using app_styles.css -->

{% block title %}Create Booking{% endblock %}

{% block content %}
<br>
<h2 class="text-center text-white">Create a new appointment</h2>

<div class="container text-left mt-4">
    <form method="post">
        {% csrf_token %}

{% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
            <small class="form-text" style="color: black;">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}

        <br>
        <button type="submit" class="btn btn-success me-2">book</button>
        <a href="{% url 'appointments:booking_list' %}" class="btn btn-primary me-2">
            To Booking Overview
        </a>
                <a href="{% url 'appointments:calendar' %}" class="btn btn-secondary">
            To Calendar View
        </a>
    </form>

  {# Django Messages #}
  <div class="d-flex justify-content-center mt-3">
    {% if messages or form.errors %}
      {% for message in messages %}
        {% if forloop.last %}
          {% if message.tags == "error" %}
            <div class="alert alert-danger">{{ message }}</div>
          {% elif message.tags == "success" %}
            <div class="alert alert-success">{{ message }}</div>
          {% else %}
            <div class="alert alert-info">{{ message }}</div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  {# Non-field Errors #}
  {% if form.non_field_errors %}
    <div class="mt-2 text-center">
      {% for error in form.non_field_errors %}
        <p style="color:red;">{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}