{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
<body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
  <h1 style="text-align: center">Athlete Profiles</h1>
    <div class="column" style="margin: auto">
    {% for athlete in athletes %}
        <div class="card" style="width: 350px; margin: 20px auto;  border-radius: 5px; background-color: lightgrey; border-color: darkgrey; text-align: center;">
         <div class="card-body" style="width:350px; margin:auto;">
            <div style="display: inline; ;">
                 <a href="details/{{ athlete.id }}"><img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png?20170328184010" style="width: 300px"></a>  
                  
            {% comment %} replace with {{ athlete.icon }} {% endcomment %}
                <p><a href="details/{{ athlete.id }}"> {{ athlete.first_name }} {{ athlete.last_name }}</a></p>
                <p>Birthday: {{ athlete.birthday }}</p>
                <p>Position: {{ athlete.position }}</p>
                <p>Jersey Number: {{ athlete.number }}</p>
                <button id="myBtn">Open</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                     <p><a href="details/{{ athlete.id }}">{{ athlete.first_name }} {{ athlete.last_name }}</a></p>
                    
                </div>
                
                </div>
    
             </div> 
            </div>
        </div> 
        {% endfor %}       
    </div>
  
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
} 
</script>
{% endblock %} 