{% extends "base.html" %}
{% load rest_framework %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {{ athlete.first_name }} {{ athlete.last_name }}
{% endblock %}


{% block content %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: grey;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: left;
  font-weight: bolder;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




</style>
<link

rel="stylesheet"

href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/c ss/bootstrap.min.css">

</head>
<div class="card" style="color: white; width: 80%; padding: 30px; margin: 30px auto;  border-radius: 5px; background-color: black; border-color: darkgrey;">
    <div class="card-body" style="width:100%; margin:auto; text-align: center; background-color: black;">
        <div style="display: inline;">
        
       
       <img src="{{athlete.icon.url}}" style="clip-path: circle(); width: 200px;">
      
          <p></p>
            <h1>{{ athlete.first_name }} {{ athlete.last_name }}</h1>
            <div>
            <div>
              <p>Birthday: {{ athlete.birthday}}</p>
            </div>
            <div>
              <p>Email: {{ athlete.email}}</p>
            </div>
            <div>
              <p>Phone Number: {{ athlete.phone_number}}</p>
            </div>
           <div>
            {% if athlete.position != None %}
              <p>Position: {{ athlete.position}}</p>
              {% endif %}
            </div>
             <div>
             {% if athlete.number != None %}
              <p>Jersey Number: {{ athlete.number}}</p>
              {% endif %}
            </div>
            <br>
         
         
          </div>
          </div>
          <div>
        {% if user.is_manager or user.is_superuser %}
        <button  class="btn btn-outline-light" id="myBtn">Edit</button>
        {% endif %}
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <form method="post" enctype="multipart/form-data" style="width: 100%;">
                  {% csrf_token %}
    
                  <div class="form-group col-md-12" >{{ form.icon|as_crispy_field }}</div>   
                  <div class="form-group col-md-12">{{ form.first_name|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.last_name|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.birthday|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.gender|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.email|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.phone_number|as_crispy_field }}</div>
                  <div class="form-group col-md-3">{{ form.height|as_crispy_field }}</div>
                  <div class="form-group col-md-3">{{ form.weight|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.position|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.number|as_crispy_field }}</div>

                  <div style="display: none; visibility: hidden">
                 <div class="form-group col-md-12">{{ form.calories|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.protein|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.carbs|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.fat|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.dietary_restrictions|as_crispy_field }}</div>
                   <div class="form-group col-md-3">{{ form.height|as_crispy_field }}</div>
                  <div class="form-group col-md-3">{{ form.weight|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.gender|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.blood_type|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.prescriptions|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.allergies|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.diagnoses|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.treatment_details|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.medical_history|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.additional_notes|as_crispy_field }}</div>
                  </div>
                 
                 
                  <button class="btn btn-outline-dark" style="border-radius: 5px;" type="submit">Save</button>
            </form>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
        
        </div>
       
    </div>
    {% if user.is_doctor or user.id == athlete.id or user.is_superuser %}
    <p><a href="/profiles/athletes/medical/{{ athlete.id }}">Medical Records</a></p>
    {% endif %}
    {% if user.is_dietician or user.id == athlete.id or user.is_superuser %}
    <p><a href="/profiles/athletes/dietary/{{ athlete.id }}">Dietary Information</a></p>
      {% endif %}
        
 
</div>

  
 

  {% comment %} <p>Back to <a href="/profiles/athletes">Athletes</a></p> {% endcomment %}
{% endblock %}        

