{% extends "base.html" %}
{% load rest_framework %}
{% load crispy_forms_tags %}
{% block title %}
  {{ athlete.first_name }} {{ athlete.last_name }}
{% endblock %}


{% block content %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: grey;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  text-align: left;
  font-weight: bolder;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
table, th, td {
  border:1px solid black;
  width: 100%;
  table-layout:fixed
 
  display: inline-block;
}


tr:nth-child(even) {
  background-color: #dddddd;
}
.container {  display: grid;
  grid-template-columns: 1fr
  grid-template-rows: 0.7fr 1.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "basic_info medical_info"
    "medical_records medical_records";
  width: 100%;
}

.basic_info { grid-area: basic_info; }

.medical_info { grid-area: medical_info; }

.medical_records { grid-area: medical_records; }

</style>
<link

rel="stylesheet"

href="https://stackpath.bootstrapcdn.com/bootstrap/4.8.2/c ss/bootstrap.min.css">

</head>
<body>
 {% if not user.is_superuser and not user.is_doctor and not user.id == athlete.id %}

    <div class="alert alert-danger" role="alert" style="width: 600px;">
        <p style="font-size: large; text-align: center; margin-top: 15px;">
        Access denied.</p>
    </div>

    {% else %}
<div class="card" style="width: 80%; margin: 20px auto;  border-radius: 2px; border-color: darkgrey; text-align: center;">
    <div class="card-body" style="width:100%; margin:auto; text-align: left;">
   
            <h1>{{ athlete.first_name }} {{ athlete.last_name }}</h1>
            <div class="container">
          <div class="basic_info">
        
          <table style="width:200px; height: 100%; margin: auto">
          
            <tr>
              <td colspan="1">Name: {{ athlete.first_name }} {{ athlete.last_name }}</td>
            </tr>
            <tr>
              <td>Birthday: {{ athlete.birthday}}</td>
            </tr>
            <tr>
              <td>Gender: {{ athlete.gender}}</td>
            </tr>
            <tr>
              <td>Height: {{ athlete.height}}cm</td>
            </tr>
            <tr>
              <td>Weight: {{ athlete.weight }}kg</td> 
            </tr>
            <tr>
              <td>Bloodtype: {{ athlete.blood_type}}</td>
            </tr>
            
          </table>
          </div>
          


            <br>
            <div class="medical_info">    
            <table style="width:1050px; margin: auto">
              <tr>
                <th>Prescriptions</th>
              </tr>
              <tr>
                <td>{{athlete.prescriptions}}</td>
              </tr>
              
            </table>
            
            
            <table style="width:100%; margin: auto">
              <tr>
                <th>Allergies</th>
              </tr>
              <tr>
                <td>{{athlete.allergies}}</td>
              </tr>
              
            </table>
            
            
            <table style="width:100%; margin: auto">
              <tr>
                <th>Diagnoses</th>
              </tr>
              <tr>
                <td>{{athlete.diagnoses}}</td>
              </tr>
              
            </table>
            </div>
            </div>
            <br>
            <div class="medical_history">
            <table style="width:100%; margin: auto">
              <tr>
              <th>Treatment Details</th>  
              </tr>
              <tr>
                <td>{{athlete.treatment_details}}</td>  
              </tr>
            </div>
            </table>
            <table style="width:100%; margin: auto">
              <tr>
                <th>Medical History</th>  
              </tr>
              <tr>
                <td>{{athlete.medical_history}}</td> 
              </tr>
              
            </table>
            <table style="width:100%; margin: auto">
              <tr>
                <th>Additional Notes</th>
              </tr>
              <tr>
                <td>{{athlete.additional_notes}}</td> 
              </tr>
            
            </table>
            
              <p style="font-weight: lighter; font-size: smaller; text-align: right;">Last updated on {{ athlete.last_updated}}</p>
          </div>
       
          {% if user.is_doctor or user.is_superuser %}
          <div>
        <button class="btn btn-outline-dark" id="myBtn" style="border-radius: 5px; margin-left: 1250px;">Edit</button>
        </div>
        <p></p>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <form method="post" enctype="multipart/form-data" style="width: 100%;">
                  {% csrf_token %}
           
                  <div class="form-group col-md-3">{{ form.height|as_crispy_field }}</div>
                  <div class="form-group col-md-3">{{ form.weight|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.gender|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.blood_type|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.prescriptions|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.allergies|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.diagnoses|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.treatment_details|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.medical_history|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.additional_notes|as_crispy_field }}</div>
                 
                  <div style="display: none; visibility: hidden">
                  <div class="form-group col-md-12">{{ form.first_name|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.last_name|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.birthday|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.email|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.phone_number|as_crispy_field }}</div>
                  <div class="form-group col-md-12" >{{ form.icon|as_crispy_field }}</div>  
                 <div class="form-group col-md-12">{{ form.position|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.number|as_crispy_field }}</div>
                   <div class="form-group col-md-12">{{ form.calories|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.protein|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.carbs|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.fat|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.dietary_restrictions|as_crispy_field }}</div>
                 
                  </div>
                 
                  <button class="btn btn-outline-dark" style="border-radius: 5px;" type="submit">Save</button>
            </form>
  </div>

</div>
      {% endif %}
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
        
        </div>
       
    </div>
</div>
  

 
  
</body>
  
{% endif %}
{% endblock %}        

