   <div class="row"> 
    <button type="button" class="collapsible">Monday</button>
    <div class="content">
    <div class="card" style="width: 100%; margin-bottom: 20px; border-radius: 10px; border-color: white; text-align: center;">
        <div class="card-body" style="width:100%;">
           
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "monday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;;">{{session.session.description}}</p>
                    <form method="post" action="{% url 'deletefromschedule' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.session.id}}">
                    <input type="hidden" id="daydelete" name="daydelete" value="monday">
                    <button type="submit" class="btn-sm btn-outline-danger" style="display: inline; size: 50%; border: 0; margin-bottom: 5px;">Remove</button>
                    </form>
                    <br>
                {% endif %}
                {% endfor %}
        
            </div>
    </div>
            <br>
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <form id="monday" method="post" action="{% url 'addtrainingschedule' %}">
            {% csrf_token %}
        
                
                <div class="form-block" >
                    <select class="form-control" name="session_select" id="session_select" style="width: 100%;">
                        {% for session in all_sessions %}
                        <option value="{{session.id}}">{{session.name}}</option>
                        {% endfor %}
                    </select>
                    <div style="width 25%">
                    <input type="hidden" id="day" name="day" value="monday">
                    <br>
                    <input type="time" name="time" id="time" class="form-control form-control-lg" style="width: 100%">
                    <br>
                    <button type="submit" class="btn btn-outline-dark" style="margin: auto; width: 100px;">Add</button>
                </div>
                </div>
        
            </form>
            
            </div>
            </div>
         
    </div>
    <button type="button" class="collapsible">Tuesday</button>
    <div class="content">
     <div class="card" style="width: 100%; margin-bottom: 20px; border-radius: 10px; border-color: white; text-align: center;">
        <div class="card-body" style="width: 100%;">
                <h6 class="card-title">Tuesday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "tuesday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;;">{{session.session.description}}</p>
                    <form method="post" action="{% url 'deletefromschedule' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.session.id}}">
                    <input type="hidden" id="daydelete" name="daydelete" value="tuesday">
                    <button type="submit" class="btn-sm btn-outline-danger" style="display: inline; size: 50%; border: 0; margin-bottom: 5px;">Remove</button>
                    </form>
                    <br>
                {% endif %}
                {% endfor %}
                   </div>
</div>
            <br>
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <form id="tuesday" method="post" action="{% url 'addtrainingschedule' %}">
            {% csrf_token %}
        
                
                <div class="form-block" >
                    <select class="form-control" name="session_select" id="session_select" style="width: 100%;">
                        {% for session in all_sessions %}
                        <option value="{{session.id}}">{{session.name}}</option>
                        {% endfor %}
                    </select>
                    <div style="width 25%">
                    <input type="hidden" id="day" name="day" value="tuesday">
                    <br>
                    <input type="time" name="time" id="time" class="form-control form-control-lg" style="width: 100%">
                    <br>
                    <button type="submit" class="btn btn-outline-dark" style="margin: auto; width: 100px;">Add</button>
                </div>
                </div>
        
            </form>
            </div>
            </div>
    </div>
     <button type="button" class="collapsible">Wednesday</button>
    <div class="content">
    <div class="card" style="width: 100%; margin-bottom: 20px; border-radius: 10px; border-color: white; text-align: center;">
        <div class="card-body" style="width:100%;">
                <h6 class="card-title">Wednesday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "wednesday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;;">{{session.session.description}}</p>
                    <form method="post" action="{% url 'deletefromschedule' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.session.id}}">
                    <input type="hidden" id="daydelete" name="daydelete" value="wednesday">
                    <button type="submit" class="btn-sm btn-outline-danger" style="display: inline; size: 50%; border: 0; margin-bottom: 5px;">Remove</button>
                    </form>
                    <br>
                {% endif %}
                {% endfor %}
                </div>

            <br>
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <form id="wednesday" method="post" action="{% url 'addtrainingschedule' %}">
            {% csrf_token %}
        
                
                <div class="form-block" >
                    <select class="form-control" name="session_select" id="session_select" style="width: 100%;">
                        {% for session in all_sessions %}
                        <option value="{{session.id}}">{{session.name}}</option>
                        {% endfor %}
                    </select>
                    <div style="width 25%">
                    <input type="hidden" id="day" name="day" value="wednesday">
                    <br>
                    <input type="time" name="time" id="time" class="form-control form-control-lg" style="width: 100%">
                    <br>
                    <button type="submit" class="btn btn-outline-dark" style="margin: auto; width: 100px;">Add</button>
                </div>
                </div>
        </div>
            </form>
            </div>
            </div>
    </div>
     <button type="button" class="collapsible">Thursday</button>
    <div class="content">
     <div class="card" style="width: 100%; margin-bottom: 20px; border-radius: 10px; border-color: white; text-align: center;">
        <div class="card-body" style="width: 100%;">
                <h6 class="card-title">Thursday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "thursday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;;">{{session.session.description}}</p>
                    <form method="post" action="{% url 'deletefromschedule' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.session.id}}">
                    <input type="hidden" id="daydelete" name="daydelete" value="thursday">
                    <button type="submit" class="btn-sm btn-outline-danger" style="display: inline; size: 50%; border: 0; margin-bottom: 5px;">Remove</button>
                    </form>
                    <br>
                {% endif %}
                {% endfor %}
                    </div>

            <br>
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <form id="thursday" method="post" action="{% url 'addtrainingschedule' %}">
            {% csrf_token %}
        
                
                <div class="form-block" >
                    <select class="form-control" name="session_select" id="session_select" style="width: 100%;">
                        {% for session in all_sessions %}
                        <option value="{{session.id}}">{{session.name}}</option>
                        {% endfor %}
                    </select>
                    <div style="width 25%">
                    <input type="hidden" id="day" name="day" value="thursday">
                    <br>
                    <input type="time" name="time" id="time" class="form-control form-control-lg" style="width: 100%">
                    <br>
                    <button type="submit" class="btn btn-outline-dark" style="margin: auto; width: 100px;">Add</button>
                </div>
                </div>
        
            </form>
            </div>
            </div>
            </div>
    </div>
    </div>
    
    <div class="row"> 
     <button type="button" class="collapsible">Friday</button>
    <div class="content">
    <div class="card" style="width: 100%; margin-bottom: 20px; border-radius: 10px; border-color: white; text-align: center;">
        <div class="card-body" style="width:100%;">
                <h5 class="card-title">Friday</h5>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "friday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;;">{{session.session.description}}</p>
                    <form method="post" action="{% url 'deletefromschedule' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.session.id}}">
                    <input type="hidden" id="daydelete" name="daydelete" value="friday">
                    <button type="submit" class="btn-sm btn-outline-danger" style="display: inline; size: 50%; border: 0; margin-bottom: 5px;">Remove</button>
                    </form>
                    <br>
                {% endif %}
                {% endfor %}
                   </div>

            <br>
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <form id="friday" method="post" action="{% url 'addtrainingschedule' %}">
            {% csrf_token %}
        
                
                <div class="form-block" >
                    <select class="form-control" name="session_select" id="session_select" style="width: 100%;">
                        {% for session in all_sessions %}
                        <option value="{{session.id}}">{{session.name}}</option>
                        {% endfor %}
                    </select>
                    <div style="width 25%">
                    <input type="hidden" id="day" name="day" value="friday">
                    <br>
                    <input type="time" name="time" id="time" class="form-control form-control-lg" style="width: 100%">
                    <br>
                    <button type="submit" class="btn btn-outline-dark" style="margin: auto; width: 100px;">Add</button>
                </div>
                </div>
        
            </form>
            </div>
            </div>
            </div>
    </div>
     <button type="button" class="collapsible">Saturday</button>
    <div class="content">
    <div class="card" style="width: 100%; margin-bottom: 20px; border-radius: 10px; border-color: white; text-align: center;">
        <div class="card-body" style="width: 100%;">
                <h5 class="card-title">Saturday</h5>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "saturday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;;">{{session.session.description}}</p>
                    <form method="post" action="{% url 'deletefromschedule' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.session.id}}">
                    <input type="hidden" id="daydelete" name="daydelete" value="saturday">
                    <button type="submit" class="btn-sm btn-outline-danger" style="display: inline; size: 50%; border: 0; margin-bottom: 5px;">Remove</button>
                    </form>
                    <br>
                {% endif %}
                {% endfor %}
                   </div>

            <br>
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <form id="saturday" method="post" action="{% url 'addtrainingschedule' %}">
            {% csrf_token %}
        
                
                <div class="form-block" >
                    <select class="form-control" name="session_select" id="session_select" style="width: 100%;">
                        {% for session in all_sessions %}
                        <option value="{{session.id}}">{{session.name}}</option>
                        {% endfor %}
                    </select>
                    <div style="width 25%">
                    <input type="hidden" id="day" name="day" value="saturday">
                    <br>
                    <input type="time" name="time" id="time" class="form-control form-control-lg" style="width: 100%">
                    <br>
                    <button type="submit" class="btn btn-outline-dark" style="margin: auto; width: 100px;">Add</button>
                </div>
                </div>
        
            </form>
            </div>
            </div>
            </div>
    </div>
     <button type="button" class="collapsible">Sunday</button>
    <div class="content">
    <div class="card" style="width: 100%; margin-bottom: 20px; border-radius: 10px; border-color: white; text-align: center;">
        <div class="card-body" style="width:100%;">
                <h5 class="card-title">Sunday</h5>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "sunday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;;">{{session.session.description}}</p>
                    <form method="post" action="{% url 'deletefromschedule' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.session.id}}">
                    <input type="hidden" id="daydelete" name="daydelete" value="sunday">
                    <button type="submit" class="btn-sm btn-outline-danger" style="display: inline; size: 50%; border: 0; margin-bottom: 5px;">Remove</button>
                    </form>
                    <br>
                {% endif %}
                {% endfor %}
                       </div>

            <br>
            <div class="container" style="display: flex; align-items: center; justify-content: center;">
            <form id="sunday" method="post" action="{% url 'addtrainingschedule' %}">
            {% csrf_token %}
        
                
                <div class="form-block" >
                    <select class="form-control" name="session_select" id="session_select" style="width: 100%;">
                        {% for session in all_sessions %}
                        <option value="{{session.id}}">{{session.name}}</option>
                        {% endfor %}
                    </select>
                    <div style="width 25%">
                    <input type="hidden" id="day" name="day" value="sunday">
                    <br>
                    <input type="time" name="time" id="time" class="form-control form-control-lg" style="width: 100%">
                    <br>
                    <button type="submit" class="btn btn-outline-dark" style="margin: auto; width: 100px;">Add</button>
                </div>
                </div>
            
            </form>
            
            </div>
            </div>
            
            </div>
            
    </div>


 <div>

  
   