{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 style="text-align: center">Staff Profiles</h1>
    <div class="column" style="margin: auto">
    {% for staff_member in staff %}
        <div class="card" style="width: 350px; margin: 20px auto; border-radius: 5px; background-color: black; border-color: darkgrey; text-align: center;">
         <div class="card-body" style="width:350px; margin:auto;">
            <div style="display: inline; color: white">
                
                <a href="details/{{ staff_member.id }}"><img src="/media/{{staff_member.icon}}/" style="clip-path: circle(); width: 200px;"></a>    
            {% comment %} replace with {{ staff_member.icon }} {% endcomment %}
                <p><a href="details/{{ staff_member.id }}">  {{ staff_member.title }} {{ staff_member.first_name }} {{ staff_member.last_name }}</a></p>
                <p>{{ staff_member.role }}</p>
                <p>Email: {{ staff_member.email }}</p>
                <p>Phone: {{ staff_member.phone_number }}</p>

                <a href="/appointments/booking_create"><button class="btn btn-outline-light" >Appointment</button></a> <! -- link to appointment booking -->
                
                
    
            </div> 
            </div>
        </div> 
        {% endfor %}       
    </div>
{% endblock %}    