{% extends "base.html" %}
{% load rest_framework %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  {{ staff_member.first_name }} {{ staff_member.last_name }}
{% endblock %}


{% block content %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: grey;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: left;
  font-weight: bolder;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
table, th, p {
  border:1px solid black;
   width: 100%;
    table-layout:fixed
 
  display: inline-block;
}


</style>
<link

rel="stylesheet"

href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/c ss/bootstrap.min.css">

</head>
<div class="card" style="color: white; width: 80%; padding: 30px; margin: 30px auto;  border-radius: 5px; background-color: black; border-color: darkgrey;">
    <div class="card-body" style="width:100%; margin:auto; text-align: center; background-color: black;">
        <div style="display: inline;">
        
       
       <img src="{{staff_member.icon.url}}" style="clip-path: circle(); width: 200px;">
      
          <p></p>
            <h1>{{ staff_member.title }} {{ staff_member.first_name }} {{ staff_member.last_name }}</h1>
          <div>
            <div>
              <p>Email: {{ staff_member.email}}</p>
            </div>
            <div>
              <p>Phone Number: {{ staff_member.phone_number}}</p>
            </div>
           <div>
              <p>{{ staff_member.role}}</p>
            </div>
         
         <a href="/appointments/booking_create"><button class="btn btn-outline-light">Appointment</button></a> <! -- link to appointment booking -->
          </div>
          </div>
          <div>
          <br>
        <button class="btn btn-outline-light" id="myBtn">Edit</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <form method="post"  enctype="multipart/form-data"  style="width: 100%;">
                  {% csrf_token %}
                  <div class="form-group col-md-12">{{ form.icon|as_crispy_field }}</div>             
                  <div class="form-group col-md-12">{{ form.first_name|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.last_name|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.birthday|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.email|as_crispy_field }}</div>
                  <div class="form-group col-md-12">{{ form.phone_number|as_crispy_field }}</div>
                  <div class="form-group col-md-3">{{ form.role|as_crispy_field }}</div>
                 
                  <button class="btn btn-outline-dark" style="border-radius: 5px; type="submit">Save</button>
          </form>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
        
        </div>
       
    </div>
</div>

  
  {% comment %} <p>Phone: {{ staff_member.phone }}</p> {% endcomment %}
 
  


   
{% endblock %}        

