
{% block body %}
<br>
<h1 style="color: black; size: 15pt; text-align: center;">Add Meal</h1>
<br><br>


<div style="max-width: 600px; margin: auto;">

    {% if not user.is_superuser and not user.is_chef %}

    <div class="alert alert-danger" role="alert" style="width: 600px;">
        <p style="font-size: large; text-align: center; margin-top: 15px;">
        No permission to edit Meal Plan.</p>
    </div>

    {% else %}
    

    <form id="singlemealform" method="post" action="{% url 'addmeal' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="mealtitle" style="border: bold" font-weight: bold;">Name</label><br>
            <input type="text" style="class="form-control" name="mealtitle" id="mealtitle" placeholder="">
         </div>
        <div class="form-group" style="text_align: center>
            <div class="form-group">
            <label for="dietreq" style="font-weight: bold;">Dietary Requirements</label><br>
            <select class="form-control" name="dietreq" id="req">
                <option value=""></option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Glutenfree">Glutenfree</option>
                <option value="Pescatarian">Pescatarian</option>
                <option value="Dairy-Free">Dairy-Free</option>
                <option value="Nut-Free">Nut-Free</option>
                <option value="Placeholder">Placeholder</option> 
            </select> 
       
        <br>

                <label for="carbsgrams" style="font-weight: bold;">Carbs</label><br>
                <input type="text" class="form-control" name="carbgrams" id="carbgrams" placeholder="grams" style="margin-auto: 50px; width: 100px;">
            
        
                <label for="fatgrams" style="font-weight: bold;">Fat </label><br>
                <input type="text" class="form-control" name="fatgrams" id="fatgrams" placeholder="grams"  style="margin-auto: 50px; width: 100px;">
            
        

                <label for="proteingrams" style="font-weight: bold;">Protein</label><br>
                <input type="text" class="form-control" name="proteingrams" id="proteingrams" placeholder="grams" style="margin-auto: 50px; width: 100px;">
            
        

                <label for="calories" style="font-weight: bold;">Calories</label><br>
                <input type="text" class="form-control" name="calories" id="calories" placeholder="cal" style="margin-auto: 50px; width: 100px;">
            
        

        <br>
        <button type="submit" class="btn btn-outline-dark">Save Meal</button>
        <br><br><br>
        </div>


    </form>
     {% endif %}

       
    <button type="button" class="collapsible" style="width:600px;">Saved Meals</button>
    <div class="content">
    <br><br>
    {% if all_meals %}

        {% for meal in all_meals %}
     <div class="container" style="display: flex; justify-items: center; justify-content: center">
        <div class="card" style="width: 600px; margin-bottom: 20px; border-radius: 8px; border-color: grey; text-align: center;">
            <div class="card-body" style="width: 600px;">
                <div>
                    <h5 class="card-title">{{meal.name}}</h5>
                </div>
             </div>
             <div>
                <div style="display: inline;">
                    <span style="color: black; font-weight: bolder; margin-right: 5px;">{{meal.calories}} calories</span>
                    <span>{{meal.totalprotein}}g Protein -</span>
                    <span>{{meal.totalcarb}}g Carbs -</span>
                    <span>{{meal.totalfat}}g Fat</span>
                   
                  
             
                <div>
                    <span>{{meal.dietary_requirements}}</span>
                </div>
                </div>

                <form method="post" action="{% url 'deletemeal' %}">
                    {% csrf_token %}
                    <input type="hidden" id="mealtodelete" name="mealtodelete" value="{{meal.id}}">
                    <button type="submit" class="btn btn-outline-danger" style="margin-top: 10px;">Delete Meal</button>
                </form>
            </div>
        </div>
</div>
        {% endfor %}
    </div>
    {% else %}

    <div class="card" style="width:  600px; margin-bottom: 20px; border-radius: 8px; border-color: grey;">
        <div class="card-body">
            <p class="card-text" style="font-size:large;">No saved meals.</p>
        </div>
    </div>

    {% endif %}

</div>
</div>
</div>

<br><br><br>


{% endblock %}
