{% extends "plans/layout.html" %}

{% block body %}
<br>
<h1 style="color: black; size: 15pt; text-align: center;">Add Training Session</h1>
<br><br>


<div style="max-width: 600px; margin: auto;">



    {% if not user.is_authenticated %}

        <div class="alert alert-danger" role="alert" style="width: 600px;">
        <p style="font-size: large; text-align: center; margin-top: 15px;">
        No permission to edit Training Schedule.</p>
    </div>


    {% else %}

    <form id="singlesessionform" method="post" action="{% url 'addsession' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="trainingtitle" style="border: bold" font-weight: bold;">Name</label><br>
            <input type="text" style="class="form-control" name="trainingtitle" id="trainingtitle" placeholder="">
         </div>
        <div class="form-group" style="text_align: center>
            <div class="form-group">
            <label for="type" style="font-weight: bold;">Type</label><br>
            <select class="form-control" name="type" id="type">
                <option value="14"></option>
                <option value="Cardio">Cardio</option>
                <option value="Strength">Strength</option>
                <option value="Practise">Practise</option>
                <option value="Practise Game">Practise Game</option>
                <option value="5">Placeholder</option>
                <option value="6">Placeholder</option>
                <option value="7">Placeholder</option> 
            </select> 
        </div>
        <br>
                <div>
                <label for="description" style="font-weight: bold;">Description</label><br>
                <textarea style="height: 300px", class="form-control" name="description" id="description"placeholder="Add details or instructions."></textarea>
                </div>

            
                <div class="form-group col-md-12">
                <label for="file" style="font-weight: bold">File</label>
                <input type="file" class="form-control" id="file">
                </div>

        <br>
        <button type="submit" class="btn btn-dark" style="padding:5px 20px">Save</button>
        </div>


    </form>
     {% endif %}


    <br><br><br>
    <h3 style="color: black; size: 15pt; text-align: center;">Saved Sessions</h3>
    <br><br>

    {% if all_sessions %}

        {% for session in all_sessions %}

        <div class="card" style="width: 600px; margin-bottom: 20px; border-radius: 8px; border-color: grey; text-align: center;">
            <div class="card-body" style="width: 600px;">
                <div>
                    <h5 class="card-title">{{session.name}}</h5>
                </div>
                <div>
                    <p style="color: black; font-weight: bolder; margin-right: 5px;">{{session.type}}</p>
                    <p>{{session.description}}</p>
                    
                </div>
               

                <form method="post" action="{% url 'deletesession' %}">
                    {% csrf_token %}
                    <input type="hidden" id="sessiontodelete" name="sessiontodelete" value="{{session.id}}">
                    <button type="submit" class="btn btn-outline-danger" style="margin-top: 10px;">Delete Session</button>
                </form>
            </div>
        </div>

        {% endfor %}
    
    {% else %}

    <div class="card" style="width: 600px; margin-bottom: 20px; border-radius: 8px; border-color: grey;">
        <div class="card-body">
            <p class="card-text" style="font-size:large;">No saved training sessisons.</p>
        </div>
    </div>

    {% endif %}


</div>

<br><br><br>


{% endblock %}
