{% extends "plans/layout.html" %}

{% block body %}

<html>
<head>
<meta name="viewport" content="width=100vw, initial-scale=1">

<br>   <br><br>
        <h1 style="color: gray; size: 15pt; text-align: center;">Meal Plan</h1>
        <br>

        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Monday Breakfast</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_breakfast" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Monday Lunch</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_lunch" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Monday Dinner</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_dinner" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Monday Snacks</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_snacks" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Tuesday Breakfast</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_breakfast" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Tuesday Lunch</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_lunch" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Tuesday Dinner</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_dinner" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Tuesday Snacks</h7>
                     <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_snacks" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>

        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Wednesday Breakfast</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_breakfast" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Wednesday Lunch</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_lunch" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Wednesday Dinner</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_dinner" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h7 class="card-title">Wednesday Snacks</h7>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_snack" %}
                    <h7 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h7>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Thursday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Thursday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Thursday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Thursday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Friday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Friday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Friday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Friday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Saturday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Saturday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Saturday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Saturday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Sunday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Sunday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Sunday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:250px;">
                    <h6 class="card-title">Sunday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    
       

        <br><br>
        <h1 style="color: gray; size: 15pt; text-align: center;">Macros</h1>
        <h7 style="color: gray; text-align: center;">Daily Average</h7>
        <br><br>

        <div style="text-align: center;">
            <h5 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Calories</h5>
            <h2 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_calories}}</h2>
        </div>
        <br><br><br>

        <div style="text-align: center;">
            <h7 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Fat</h7>
            <h4 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_fat}} g</h4>
        </div>
        <br><br>

        <div style="text-align: center;">
            <h7 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Carbs</h7>
            <h4 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_carb}} g</h4>
        </div>
        <br><br>

        <div style="text-align: center;">
            <h7 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Protein</h7>
            <h4 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_protein}} g</h4>
        </div>
        <br><br><br>


        <h3 style="color: gray; size: 15pt; text-align: center;">Macro Distribution</h3>
        <br>

        <div style="width: 450px; margin: auto;">
            <canvas id="MacroChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


            <script>
                const labels = [
                'Fat',
                'Carbs',
                'Protein',
                ];
            
                const data = {
                labels: labels,
                datasets: [{
                    label: 'data',
                    backgroundColor: [
                        '#f024b6',
                        '#d0ed48',
                        '#1b96b5'
                        ],
                    borderColor: 'grey',
                    data: ["{{percentage.fat}}", "{{percentage.carb}}", "{{percentage.protein}}"],
                }]
                };
            
                const config = {
                type: 'doughnut',
                data: data,
                options: {}
                };
            </script>


            <script>
                const MacroChart = new Chart(
                document.getElementById('MacroChart'),
                config
                );
            </script>
        </div>




    </div>

        </body>
    </html> 
    <div style="max-width: 100%; margin: auto;">
  {% endblock %}
  