{% extends "base.html" %}

{% block body %}

<html>
<head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {

  background-color: black;
  color: gray;
  text-align: center;
}

.modal-body {
    padding: 2px 16px;
    background-color: black;
    }

.modal-footer {
  padding: 2px 16px;
  background-color: black;
  color: white;
}
.row {
    margin: auto;
  
    vertical-align: middle;
    float: none;
}
.card-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.card-body {
    width: 100%;
}

</style>
<meta name="viewport" content="width=100vw, initial-scale=1">
</head>
<body>

<br>   <br><br>
<div class= card style="text-align: center; background-color: black">
        <p></p>
        <p></p>

        <h1 style="color: gray; size: 15pt; text-align: center;">Meal Plan</h1>
        <br>
        <p></p>

        <div class="row""> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Monday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6> 
                    <br>
                    
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Monday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Monday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Monday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "monday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                    <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Tuesday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Tuesday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                    <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Tuesday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Tuesday Snacks</h6>
                     <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "tuesday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>

        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Wednesday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Wednesday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Wednesday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Wednesday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "wednesday_snack" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Thursday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Thursday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Thursday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Thursday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "thursday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Friday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Friday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}{{meal.meal.dietary_requirement}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                    <p>{{meal.meal.dietary_requirement}}</p>
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Friday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Friday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "friday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Saturday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Saturday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Saturday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Saturday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "saturday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    <div class="row"> 
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Sunday Breakfast</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_breakfast" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Sunday Lunch</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_lunch" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                        <br>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Sunday Dinner</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_dinner" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card" style="width: 250px; height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body">
                    <h6 class="card-title">Sunday Snacks</h6>
                <div style="display: inline;">
                    {% for meal in weekly_meals %}
                    {% if meal.day == "sunday_snacks" %}
                    <h6 style="color: gray; font-weight: bolder; display: inline;">{{meal.meal.name}}</h6>
                     <br>
                    <p style="color: gray; font-weight: italics; display: inline;">{{meal.meal.dietary_requirements}}</p> 
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
        <p><a href="/plans/addmealplan">Edit</a></p>

       


</div>

<!-- Trigger/Open The Modal -->
<button class="btn btn-outline-light" id="myBtn">Check Macros</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
  
      
     
   
    <div class="modal-body">
    <span class="close">&times;</span>
    <br><br>
        <h1 style="color: gray; size: 15pt; text-align: center;">Macros</h1>
        <h6 style="color: gray; text-align: center;">Daily Average</h6>
        <br><br>

        <div style="text-align: center;">
            <h6 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Calories</h6>
            <h2 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_calories}}</h2>
        </div>
        <br><br><br>

        <div style="text-align: center;">
            <h6 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Protein</h6>
            <h4 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_protein}} g</h4>
        </div>
        <br><br>

        <div style="text-align: center;">
            <h6 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Carbs</h6>
            <h4 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_carb}} g</h4>
        </div>
        <br><br>

        <div style="text-align: center;">
            <h6 style="display: inline; color: grey; text-align: center; vertical-align: middle; margin-right: 30px;">Fat</h6>
            <h4 style="display: inline; color: gray; size: 15pt; text-align: center; vertical-align: middle;">{{macros.average_fat}} g</h4>
        </div>
        
        <br><br><br>

       
        <h3 style="color: gray; size: 15pt; text-align: center;">Macro Distribution</h3>
        <br>

        <div style="width: 300px; margin: auto;">
            <canvas id="MacroChart"></canvas>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


            <script>
            
                const labels = [
                'Protein',
                'Carbs',
                'Fat',
                ];
            
                const data = {
                labels: labels,
                datasets: [{
                    label: 'data',
                    backgroundColor: [
                        '#1b96b5',
                        '#d0ed48',
                        '#f024b6',
                        ],
                    borderColor: 'white',
                    data: ["{{percentage.protein}}", "{{percentage.carb}}", "{{percentage.fat}}"],
                    
                }]
                };
            
                const config = {
                type: 'doughnut',
                data: data,
                options: {}
                };
            </script>

            <br><br>
         
            <script>
                const MacroChart = new Chart(
                document.getElementById('MacroChart'),
                config
                );
            </script>
        </div>



        
    </div>
    
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


  

        </body>
    </html> 
    <div style="max-width: 100%; margin: auto;">
  {% endblock %}
  