{% extends "base.html" %}

{% block body %}


<head>

<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: lightblue;
}
.row {
    margin: auto;
   width:90%;
    vertical-align: middle;
    float: none;
}
.card-title {
    display: block;
}
.card-body {
    width: 100%;
}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<br>  
<div class= "card" style="text-align: center; background-color: black">
        <p></p>
        <p></p>

  
    <h1 style="color: gray; size: 15pt; text-align: center;">Schedule</h1>
    <br>

    <div class="row"> 
    <div class="card" style="width: 100%; min-height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:100%;">
                <h6 class="card-title">Monday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "monday" %}
                <h6 style="color: darkgray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;">{{session.session.description}}</p>
                  
                    <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
     <div class="card" style="width: 100%; min-height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width: 100%;">
                <h6 class="card-title">Tuesday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "tuesday" %}
                <h6 style="color: gray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;">{{session.session.description}}</p>
                    <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
   
    </div>
    <div class="card" style="width: 100%; min-height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:100%;">
                <h6 class="card-title">Wednesday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "wednesday" %}
                <h6 style="color: gray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;">{{session.session.description}}</p>
                    <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
     <div class="card" style="width: 100%; min-height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width: 100%;">
                <h6 class="card-title">Thursday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "thursday" %}
                <h6 style="color: gray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;">{{session.session.description}}</p>
                    <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

   <div>
    <div class="row"> 
    <div class="card" style="width: 100%; min-height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:100%;">
                <h6 class="card-title">Friday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "friday" %}
                <h6 style="color: gray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;">{{session.session.description}}</p>
                    <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card" style="width: 100%; min-height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width: 100%;">
                <h6 class="card-title">Saturday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "saturday" %}
                <h6 style="color: gray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;">{{session.session.description}}</p>

                    <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
   
    </div>
    <div class="card" style="width: 100%; min-height: 300px; margin-bottom: 20px; border-radius: 10px; border-color: darkgrey; text-align: center;">
        <div class="card-body" style="width:100%;">
                <h6 class="card-title">Sunday</h6>
            <div style="display: inline;">
                {% for session in weekly_sessions %}
                {% if session.day == "sunday" %}
                <h6 style="color: gray; font-weight: bolder;">{{session.time}} - {{session.session.name}}</h6>
                <p style="color: gray; font-weight: bolder;">{{session.session.type}}</p>
                <p style="color: gray; font-weight: bolder;">{{session.session.description}}</p>
                    <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    
    </div>



    
    
    {% if user.is_authenticated and user.is_trainer or user.is_superuser %}
        <p style="margin-left: 1480px"><a href="/plans/addtrainingschedule">Edit</a></p>
    {% endif %}
       

    </body>
    </html> 
    <div style="max-width: 100%; margin: auto;">
  {% endblock %}