{% extends "base.html" %}
{% block title %}Home | Team Management{% endblock %}
{% block content %}
<!-- our home page content here -->





<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
</style>
</head>
<body>

<button class="tablink" onmouseover="openPage('Home', this, 'red')">Home</button>
<button class="tablink" onmouseover="openPage('News', this, 'green')" id="defaultOpen">News</button>
<button class="tablink" onmouseover="openPage('Contact', this, 'blue')">Contact</button>
<button class="tablink" onmouseover="openPage('About', this, 'orange')">About</button>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is where the heart is..</p>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {% for error in field.errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <br>
        <button type="submit" class="btn btn-primary">book</button>
    </form>
        {% if messages or form.errors %}

        {# Django Messages #}
        {% for message in messages %}
            {% if message.tags == "error" %}
            <p style="color:red;">{{ message }}</p>
            {% elif message.tags == "success" %}
            <p style="color:green;">{{ message }}</p>
            {% else %}
            <p>{{ message }}</p>
            {% endif %}
        {% endfor %}


        {# Non-field Errors #}
        {% for error in form.non_field_errors %}
            <p style="color:red;">{{ error }}</p>
        {% endfor %}

        {% endif %}

        
        <div class="text-left mt-4">
            <a href="{% url 'appointments:booking_list' %}" class="btn btn-primary">
                To Booking Overview
            </a>
        </div>

        <div class="text-right mt-4">
            <a href="{% url 'appointments:calendar' %}" class="btn btn-primary">
                To Calendar View
            </a>
        </div>
</div>

<div id="News" class="tabcontent">
  <h3>News</h3>
  <p>Some news this fine day!</p> 
</div>
<div id="Contact" class="tabcontent">
  <h3>Contact</h3>
  <p>Get in touch, or swing by for a cup of coffee.</p>
</div>

<div id="About" class="tabcontent">
  <h3>About</h3>
  <p>Who we are and what we do.</p>
</div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
</html> 

{% endblock %}
